---
- name: Set version specific variables
  include_tasks: tasks/set_vars.yml

- name: Ensure certificate role dependencies are installed
  package:
    name: "{{ __certificate_packages }}"
    state: present

- name: Install and configure required providers
  vars:
    __certificate_providers: |
      {% set unique_providers = [] %}
      {% for item in certificate_requests %}
      {%   set _ = unique_providers.append(
             item.provider |
             d(__certificate_provider_default)
           ) %}
      {% endfor %}
      {{ unique_providers | unique }}
  block:
    - name: Ensure provider packages are installed
      package:
        name: |
          {{ __certificate_provider_vars[__certificate_provider].packages }}
        state: present
      loop: "{{ __certificate_providers }}"
      loop_control:
        loop_var: __certificate_provider
      when: |
        __certificate_provider_vars[__certificate_provider].packages is defined

    - name: Ensure pre-scripts hooks directory exists
      file:
        name: >-
          {{ __certificate_provider_vars[
            __certificate_provider
          ].config_dir }}/pre-scripts
        owner: >-
          {{ __certificate_provider_vars[
            __certificate_provider
          ].hooks_dirs_owner }}
        group: >-
          {{ __certificate_provider_vars[
            __certificate_provider
          ].hooks_dirs_group }}
        mode: >-
          {{ __certificate_provider_vars[
            __certificate_provider
          ].hooks_dirs_mode }}
        state: directory
      loop: "{{ __certificate_providers }}"
      loop_control:
        loop_var: __certificate_provider
      when: |
        __certificate_provider_vars[__certificate_provider].config_dir
        is defined

    - name: Ensure post-scripts hooks directory exists
      file:
        name: >-
          {{ __certificate_provider_vars[
            __certificate_provider
          ].config_dir }}/post-scripts
        owner: >-
          {{ __certificate_provider_vars[
            __certificate_provider
          ].hooks_dirs_owner }}
        group: >-
          {{ __certificate_provider_vars[
            __certificate_provider
          ].hooks_dirs_group }}
        mode: >-
          {{ __certificate_provider_vars[
            __certificate_provider
          ].hooks_dirs_mode }}
        state: directory
      loop: "{{ __certificate_providers }}"
      loop_control:
        loop_var: __certificate_provider
      when: |
        __certificate_provider_vars[__certificate_provider].config_dir
        is defined

    # While most Linux system roles have a list of services
    #   this role doesn't need it. In fact some providers
    #   won't have any service at all.
    - name: Ensure provider service is running
      service:
        name: >-
          {{ __certificate_provider_vars[__certificate_provider].service }}
        state: started
        enabled: yes
      loop: "{{ __certificate_providers }}"
      loop_control:
        loop_var: __certificate_provider
      when:
        __certificate_provider_vars[__certificate_provider].service is defined

- name: Ensure certificate requests
  certificate_request:
    name: "{{ item.name | default(omit) }}"
    dns: "{{ item.dns | default(omit) }}"
    ip: "{{ item.ip | default(omit) }}"
    email: "{{ item.email | default(omit) }}"
    common_name: "{{ item.common_name | default(omit) }}"
    owner: "{{ item.owner | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    provider: "{{ item.provider | default(omit) }}"
    principal: "{{ item.principal | default(omit) }}"
    directory: "{{ __certificate_default_directory }}"
    provider_config_directory: >-
      {{ __certificate_provider_vars[item.provider].config_dir
         if item.provider is defined
           and item.provider in __certificate_provider_vars
         else omit }}
    key_size: "{{ item.key_size | default(omit) }}"
    key_usage: "{{ item.key_usage | default(omit) }}"
    extended_key_usage: "{{ item.extended_key_usage | default(omit) }}"
    auto_renew: "{{ item.auto_renew | default(omit) }}"
    wait: "{{ certificate_wait }}"
    country: "{{ item.country | default(omit) }}"
    state: "{{ item.state | default(omit) }}"
    locality: "{{ item.locality | default(omit) }}"
    organization: "{{ item.organization | default(omit) }}"
    organizational_unit: "{{ item.organizational_unit | default(omit) }}"
    contact_email: "{{ item.contact_email | default(omit) }}"
    run_before: "{{ item.run_before | default(omit) }}"
    run_after: "{{ item.run_after | default(omit) }}"
    ca: "{{ item.ca | default(omit) }}"
    __header: "{{ __lsr_ansible_managed }}"
  loop: "{{ certificate_requests }}"
  vars:
    __lsr_ansible_managed: "{{
      lookup('template', 'get_ansible_managed.j2') }}"
